.date {
  text-align: left;
  white-space: pre-wrap;
}

table {
  border-collapse: collapse;
  padding: 0;
}

td, th {
  border: solid thin gray;
  white-space: pre-wrap;
}

td:hover { background-color: #b19cd9; }

td {
  vertical-align:top;
  background-color: pink;
  height: 120px;
  width: 200px;
}

td.selected {
  background-color: red;
}

th {
  background-color: green;
  height: 20px;
}