.date {
  text-align: left;
  white-space: pre-wrap;
}

table {
  border-collapse: collapse;
  padding: 0;
}

td, th {
  border: solid thin gray;
  white-space: pre-wrap;
}

td:hover { background-color: rgb(210, 210, 210); }

td {
  vertical-align:top;
  background-color: rgb(224, 224, 224);
  height: 120px;
  width: 200px;
}

td.selected {
  background-color: rgb(192, 192, 192);
}

th {
  color: rgb(224, 224, 224);
  background-color: green;
  height: 20px;
}

.menu {
  height: 250px;
  width: 450px;
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}